.phpintel
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/test
phpunit.xml
.env
.env.example
.env.backup
.gitattributes
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
